@import "../../variables.scss";

.charts__header,
.charts__clicks,
.charts__views {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.charts__views {
  margin-top: 32px;
}

.charts__header {
  font-size: 2rem !important;
}

.charts__date-picker-section {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.charts__date-picker-from,
.charts__date-picker-to {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-bottom: 5px;
  }
}

.charts__date-picker-from {
  margin-right: 2rem;

  @media (max-width: 991px) {
    margin: 0 0 1rem 0;
  }
}

.charts__date-picker {
  cursor: pointer;
  padding: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  outline: 0;
  border: 2px solid #ccc;
}
