$app-width: 1180px;
$primary-color: #3a80ba;
$secondary-color: #f1f1f1;
$app-black: #1a1a1a;
$app-grey: #7e7e7e;
$header-color: #fff;
$header-height: 72px;
$footer-height: 57px;
$modal: rgba(#000, 0.9);

:export {
  primaryColor: $primary-color;
}
