@import "../../variables.scss";

.user-page {
  width: 95%;
  max-width: $app-width;
  margin: 0 auto;
  padding-top: 1rem;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

.user-page__header,
.user-page__clicks,
.user-page__views {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.user-page__views {
  margin-top: 32px;
}

.user-page__header {
  font-size: 2rem !important;
}

.user-page__date-picker-section {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.user-page__date-picker-from,
.user-page__date-picker-to {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-bottom: 5px;
  }
}

.user-page__date-picker-from {
  margin-right: 2rem;
}

.user-page__date-picker {
  cursor: pointer;
  padding: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  outline: 0;
  border: 2px solid #ccc;
}
