@import "../../variables.scss";

.navigation {
  color: #ccc;
  margin-bottom: 24px;
}

.navigation__item {
  @media (max-width: 991px) {
    display: block;
  }
}

.navigation__item_active {
  color: $primary-color;
  cursor: default;
}

.navigation__link {
  color: #ccc;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.navigation__separator {
  margin: 0 8px;
}
